
<div class="popup-content">
	<h2>@ViewBag.GoodMassege @ViewBag.BadMassege</h2>
	<h2 class="Parking-Space-Number navy-font">@ViewBag.SpaceNumber</h2>
	<h2 class="Parking-Space-Number red-font">@ViewBag.note</h2>
</div>
